<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	<title></title>
	<link rel="stylesheet" href="/estilo.css" type="text/css">
</head>

<body> 
   
   <div  class="container">

   	<h1>
	<%= flash[:notice] %>
	
</h1>

   	
        <ul>

	<% @bookmarks.each do |bookmark| %>

		<li  class="bookmark" id="bookmark-<%=bookmark.id %>">

		<a href="<%= bookmark.url %>" target="_blank">
			<%= bookmark.title %>
		</a>

		<form action="/bookmarks/<%= bookmark.id %>" method="post">
			<input type="hidden" name="_method" value="DELETE" />
			<input type="submit" value="Delete" />
		</form>

		<form action="/bookmarks/<%= bookmark.id %>/edit" method="get" >
			<input type="submit" value="Edit" />	
		</form>

		<form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
			<input type="submit" value="Add Comment" />
		</form>

		<form action="/bookmarks/<%= bookmark.id %>/tags/new" method="get">
        <input type="submit" value="Add Tag" />
        </form>

      <div>

        <h2>Comments</h2>

        <ul>

          <% bookmark.comments.each do |comment| %>
            <li><%= comment.text %></li>
          <% end %>

        </ul>

      </div>

     <% if bookmark.tags.length > 0 %>
        <div>
          <h2>Tags</h2>
          <ul>
            <% bookmark.tags.each do |tag| %>
              <li>
                <a href="/tags/<%= tag.id %>/bookmarks">
                  <%= tag.content %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </li>

  <% end %>




	


     

	

</body>

</html>
	
